img.icon {
    display: block;
    margin: 0 auto;
    width: 60%;
}
.aui-grid-label {
    padding-top: 0.5rem;
    font-size: 0.7rem !important;
}
.goods-item {
    border: 1px solid #eee;
    text-align: center;
    padding: 0.5rem;
}
.goods-item img {
    display: block;
    width: 100%;
    height: 7rem;
}
.title {
    color: #666;
    font-size: 0.8rem;
    text-align: center;
}
.title p {
    font-size: 0.6rem;
    color: #ccc;
}
.goods-title {
    font-size: 0.7rem;
    color: #333 !important;
}
.hot img {
    width: 3rem;
    display: block;
    margin: 0 auto;
}
